:root {
    --main-bg-color: #f6b545;
}

section {
    padding: 40px 0;
}

.header-wrapper {
    height: 500px;
    width: 100%;
    background-color: var(--main-bg-color);
    color: #FFF;
    display: table;
}

.header-wrapper div {
    display: table-cell;
    vertical-align: middle;
}

.minor-header-wrapper {
    height: 200px;
    width: 100%;
    background-color: var(--main-bg-color);
    color: #FFF;
    display: table;
}

.questions-wrapper {
    background-color: var(--main-bg-color);
    color: #FFF;
}

.contacts-wrapper {
    background-color: #555;
    color: #FFF;
}

.contacts-wrapper .links a {
    color: #FFF;
}

.menu-reference {
    display: inline-block;
    background-color: #222;
    color: #9d9d9d;
    padding: 0 5px;
}


.burnia-example {
    width: 50%;
    color: #000;
    background-color: #FFF;
}
