#burnia {
    padding: 1.5em;
    border: 1px solid #EEE;
    display: table;

    input[type='checkbox'] {
        width: 1em;
        height: 1em;
        margin: 0;
    }

    label {
        margin: 0 0 0 1em;
    }

    .burnia-correct {
        font-size: 1em;
    }
}
